<form class="add__form" [formGroup]="addForm" (ngSubmit)="saveCountry()">
  <label>
    <input
      class="add__input"
      type="text"
      formControlName="addCountries"
      placeholder="Digite o nome do pais"
    />
    <input
      class="add__input"
      type="text"
      formControlName="addNationality"
      placeholder="Digite a nacionalidade"
    />
    <input
      class="add__input"
      type="text"
      formControlName="addSigla"
      placeholder="Digite a Sigla"
      maxlength="2"
    />
  </label>
  <button class="add__button--submit" type="submit" [disabled]="!addForm.valid">
    Adicionar país
  </button>
</form>
